* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f0faff;
}

/*Scrollbar*/
body::-webkit-scrollbar {
  width: 1vw;
}
/*Track*/
body::-webkit-scrollbar-track {
  background-color: #181818;
}
/*Handle*/
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(120deg, #b5ffe5, #005b44);
  border-radius: 30px;
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  /*Preserve aspect ratio*/
  max-width: 100%;
  min-width: 100%;
  height: 100%;
}

#page {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #344053;
}
.main {
  padding-top: 10%;
}

.memoryCard {  
  width: 20vmin;
  height: 20vmin;
  position: relative;
  margin: 5% 10%;
  border: 0.25vmin solid #ccc;
  border: 0 none transparent;
  -webkit-perspective: 600vmin;
  perspective: 600vmin;
  cursor: pointer;
}
.memoryCard .face{
  border: 0.7vmin solid #2F4858;
}
.memoryCard .cube{
  transition: -webkit-transform 6s linear;  
  transition: transform 6s linear, -webkit-transform 6s linear;
  animation: turnM 6s linear infinite;
}
@keyframes turnM {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
.pingpong {    
  width: 20vmin;
  height: 20vmin;
  position: relative;
  margin: -5% auto;
  border: 0.25vmin solid #ccc;
  border: 0 none transparent;
  -webkit-perspective: 600vmin;
  perspective: 600vmin;
  cursor: pointer;
}
.pingpong .face{
  border: 0.7vmin solid #3C4A3E;
}
.pingpong .cube{
  transition: -webkit-transform 6s linear;  
  transition: transform 6s linear, -webkit-transform 6s linear;
  animation: turnP 6s linear infinite;
}
@keyframes turnP {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 5, 1, 360deg);
  }
}
.ticTacToe {    
  width: 20vmin;
  height: 20vmin;
  position: relative;
  margin: -25% 70%;
  border: 0.25vmin solid #ccc;
  border: 0 none transparent;
  -webkit-perspective: 600vmin;
  perspective: 600vmin;
  cursor: pointer;
}
.ticTacToe .face{
  border: 0.7vmin solid #3D4E7E;
}
.ticTacToe .cube{  
  transition: -webkit-transform 7s linear;  
  transition: transform 7s linear, -webkit-transform 7s linear;
  animation: turnS 7s linear infinite;
}
@keyframes turnS {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.cube { 
  width: 20%;
  height: 20%;
  position: absolute;  
  transform-style: preserve-3d;  
}

.face {
  display: block;
  position: absolute;
  width: 20vmin;
  height: 20vmin; 
  line-height: 20vmin;
  font-size: 1.2vw;  
  color: white;
  opacity: 0.5;
  text-align: center;
  margin: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: visible;
}

.front {
  -webkit-transform: translateZ(10vmin);
  transform: translateZ(10vmin);  
  border: 1px solid #B5FFE5;
  box-shadow: 0 0 10px #B5FFE5;
}
.back {
  -webkit-transform: rotateX(-180deg) translateZ(10vmin); 
  transform: rotateX(-180deg) translateZ(10vmin);
  border: 1px solid #B5FFE5;
  box-shadow: 0 0 10px #B5FFE5;
}
.left {
  -webkit-transform: rotateY(-90deg) translateZ(10vmin); 
  transform: rotateY(-90deg) translateZ(10vmin);
  border: 1px solid #B5FFE5;
  box-shadow: 0 0 10px #B5FFE5;
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(10vmin); 
  transform: rotateY(90deg) translateZ(10vmin);
  border: 1px solid #B5FFE5;
  box-shadow: 0 0 10px #B5FFE5;
}
.top {
  -webkit-transform: rotateX(90deg) translateZ(10vmin); 
  transform: rotateX(90deg) translateZ(10vmin);
  border: 1px solid #B5FFE5;
  box-shadow: 0 0 10px #B5FFE5;
}
.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(10vmin); 
  transform: rotateX(-90deg) translateZ(10vmin);
  border: 1px solid #B5FFE5;
  box-shadow: 0 0 10px #B5FFE5;
}



